# Entorno virtual
envTaller/
venv/
.venv/

# Archivos temporales y bytecode
__pycache__/
*.pyc
*.pyo

# Variables de entorno
.env

# Archivos de configuración de editores
.vscode/
.idea/

# Archivos de log
*.log
